.container{
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}


.titleNews{
    font-size: 20px;
}

.descNews{
    font-size: 16px;
  
}

.newsItemBox{
    display: flex;
    flex-direction: row;
    
}

.articleNewsItem{
    padding-left: 20px;
}

.imgNews{
    border-radius: 10px;
    width: 64px;
    height: 64px;
    background-color: #2f4f5f;
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
}


