.container{
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

.newsBunner > .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0px;
}



.bannerWrap{
    width: 100%;
}

.titleNewsBunner{
    font-size: 20px;
}

.descNewsBunner{
    font-size: 18px;
}
